.card {
    margin: 10px;
    padding: 10px;
}

.card-row {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.trendText {
    margin-left: 500px;
    color: white;
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 10px;
}

.trendText2 {
    margin-left: 500px;
    font-weight: 400;
    font-size: 22px;
    color: white;
}

